# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
pages/.ipynb_checkpoints/People-checkpoint.md
assets/img/.ipynb_checkpoints/crepe-checkpoint.jpg
assets/img/.ipynb_checkpoints/bgimage-checkpoint.png
assets/img/.ipynb_checkpoints/path-checkpoint.jpg
pages/.ipynb_checkpoints/journal-checkpoint.md
pages/.ipynb_checkpoints/conference-checkpoint.md
pages/.ipynb_checkpoints/patents-checkpoint.md
pages/.ipynb_checkpoints/contact-checkpoint.md
assets/css/.ipynb_checkpoints/beautifuljekyll-checkpoint.css
.ipynb_checkpoints/_config-checkpoint.yml
pages/.ipynb_checkpoints/Research-checkpoint.md
pages/.ipynb_checkpoints/home-checkpoint.md
assets/img/.ipynb_checkpoints/LabMembers-checkpoint.jpg
assets/img/.ipynb_checkpoints/BookShelf-checkpoint.jpg
assets/img/.ipynb_checkpoints/thumb-checkpoint.png
assets/img/.ipynb_checkpoints/Research-checkpoint.png
assets/img/.ipynb_checkpoints/Picture1-checkpoint.png
assets/img/.ipynb_checkpoints/emailContact-checkpoint.jpg
.ipynb_checkpoints/aboutme-checkpoint.md
.ipynb_checkpoints/staticman-checkpoint.yml
_posts/.ipynb_checkpoints/2020-02-26-flake-it-till-you-make-it-checkpoint.md
_posts/.ipynb_checkpoints/2020-02-28-sample-markdown-checkpoint.md
assets/img/.ipynb_checkpoints/404-southpark-checkpoint.jpg
.ipynb_checkpoints/404-checkpoint.html
_layouts/.ipynb_checkpoints/base-checkpoint.html
_layouts/.ipynb_checkpoints/default-checkpoint.html
_layouts/.ipynb_checkpoints/home-checkpoint.html
_layouts/.ipynb_checkpoints/minimal-checkpoint.html
_layouts/.ipynb_checkpoints/page-checkpoint.html
_layouts/.ipynb_checkpoints/post-checkpoint.html
_posts/.ipynb_checkpoints/2024-04-19-about-us-checkpoint.md
.ipynb_checkpoints/index-checkpoint.html
.ipynb_checkpoints/README-checkpoint.md
pages/.ipynb_checkpoints/joinus-checkpoint.md
pages/.ipynb_checkpoints/Test-checkpoint.md
.ipynb_checkpoints/untitled-checkpoint.html
_posts/latest_research/.ipynb_checkpoints/2024-04-19-about-us-checkpoint.md
latest_research/.ipynb_checkpoints/2024-04-19-about-us-checkpoint.md
pages/latest_research/.ipynb_checkpoints/about-us-checkpoint.md
.ipynb_checkpoints/gallery-checkpoint.html
pages/.ipynb_checkpoints/gallery-checkpoint.md
pages/.ipynb_checkpoints/projects-checkpoint.md
assets/img/gallery_all/.ipynb_checkpoints/BookShelf-checkpoint.jpg
.ipynb_checkpoints/projects-checkpoint.md
.ipynb_checkpoints/gallery-checkpoint.md
