---
layout: page
title: Welcome to BioPhotonica--- Lab
subtitle: Innovating Optics for Health
use-site-title: true
bigimg: /assets/img/renal_tubule.png
---

<!-- About us -->
<h3>About Us</h3>
<p>The BioPhotonica Lab at the Indian Institute of Technology, Delhi is an interdisciplinary research laboratory. 
  We work at the intersection of optical engineering and biology, focusing on developing advanced and novel optical techniques to:
</p>

<ul>
  <li>Image biological and medical samples</li>
  <li>Understand the physics of light-tissue interaction</li>
  <li>Conduct fundamental medical research and clinical studies for diagnosing and treating human diseases</li>
  <li>Aid in drug development and personalized medicine</li>
</ul>

<p>Our lab's research interests include <strong>Biophotonics and Biomedical optics</strong>, specifically in the fields of <strong>optical coherence tomography, 
  microscopy, polarization engineering, and computational imaging</strong>. 
  Our aim is to advance these instrumentations with advanced engineering techniques to make them robust and transferable to clinics, 
  hospitals, research laboratories, and labs for better healthcare.</p>

<p>To learn more about our research, please visit our <a href="https://mukherjeepradipta.github.io/pages/Research/">Research page</a> section.</p>

<!-- -------------------------------------------------- -->

<!-- Latest News Section -->
<!--<div style="background-color: #D3D3D3; color: white; overflow: hidden;">
  <img src="https://via.placeholder.com/300" alt="News Image" style="float: left; width: 300px; height: auto; margin-right: 20px;">
  <div style="padding: 20px;">
    <h3 style="color: #0000FF;">Latest News</h3>
    <p style="color: #000000;">Here you will find the latest exciting news from our group.</p>
    <p><a href="#"style="color: #0000FF;" >Read More</a></p>
  </div>-->
<!--</div>-->

<!-- Latest Publication Section -->

<!-- <div style="background-color: black; color: white; overflow: hidden; margin-top: 20px;">
  <img src="https://via.placeholder.com/300" alt="Announcement Image" style="float: left; width: 300px; height: auto; margin-right: 20px;">
  <div style="padding: 20px;">
    <h3 style="color: #FFA500;">Latest Publication</h3>
    <p>Here you will find the latest publication details of our group.</p>
    <p><a href="#"style="color: #FFA500;">Read More</a></p>
  </div>-->
<!-- </div> -->

<!-- -------------------------------------------------- -->
<!-- Image Gallery Section -->
<!-- <div style="margin-top: 20px;">
  <h3>Image Gallery</h3>

  <div id="image-gallery" class="gallery" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 5px;">
    {% for file in site.static_files %}
      {% if file.path contains '/assets/img/gallery_home/' and (file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.png' or file.extname == '.gif') %}
        <div class="gallery-item">
          <img src="{{ file.path }}" alt="Gallery Image">
        </div>
      {% endif %}
    {% endfor %}
  </div> -->
<!-- </div>-->

  <!-- Link to All Lab Images -->
  <!-- <p>View all lab images <a href="/gallery">here</a>.</p>-->
